<product-slider class="relative flex flex-col gap-4">
  <!-- Main media track -->
  <div class="flex flex-col gap-3 lg:flex-row-reverse">
    <div
      class="flex gap-6 overflow-x-auto scroll-smooth snap-x snap-mandatory focus:outline-none no-scrollbar"
      tabindex="0"
    >
      {% liquid
        assign image_aspect = settings.image_aspect_ratio
      %}
      {% for media in product.media %}
        <div class="w-full snap-start shrink-0 {{ image_aspect }}">
          {% case media.media_type %}
            {% when 'image' %}
              {{
                media
                | image_url: width: 1200
                | image_tag: alt: media.alt, class: 'w-full h-full object-cover block'
              }}

            {% when 'video' %}
              <video
                controls
                class="object-cover w-full h-full"
              >
                {% for source in media.sources %}
                  <source src="{{ source.url }}" type="{{ source.mime_type }}">
                {% endfor %}
                Your browser does not support the video tag.
              </video>

            {% when 'external_video' %}
              {{ media | external_video_tag }}

            {% when 'model' %}
              {{ media | model_viewer_tag }}
          {% endcase %}
        </div>
      {% endfor %}
    </div>
    <!-- Thumbnails -->
    {% if product.media.size > 1 %}
      <div class="flex justify-center gap-3 mt-2 lg:flex-col">
        {% for media in product.media %}
          <button
            data-thumb
            class="relative w-16 h-16 overflow-hidden hover:[&>img]:scale-90 [&>img]:transition-transform [&>img]:duration-300 [&>img]:ease-in-out"
            aria-label="Thumbnail {{ forloop.index }}"
          >
            {{
              media
              | image_url: width: 200
              | image_tag: alt: media.alt, class: 'object-cover w-full h-full pointer-events-none'
            }}
          </button>
        {% endfor %}
      </div>
    {% endif %}
  </div>

  <!-- Navigation buttons -->
  <div class="absolute flex justify-between w-full lg:relative top-1/2">
    <button
      class="z-20 transition-opacity duration-200 ease-in-out rotate-180 opacity-0 cursor-pointer slider-nav button-secondary"
      aria-label="Previous"
    >
      {{ 'icon-arrow-short.svg' | inline_asset_content }}
    </button>
    <button
      class="z-20 transition-opacity duration-200 ease-in-out opacity-0 cursor-pointer slider-nav button-secondary"
      aria-label="Next"
    >
      {{ 'icon-arrow-short.svg' | inline_asset_content }}
    </button>
  </div>
</product-slider>
